<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Sales Volume</th>
      <th>Met Quota</th>
    </tr>
  </thead>

  <tbody>
    @for (salesPerson of salesPersonList; track $index){
    <tr [ngClass]="{highlight: salesPerson.salesVolume >= 9000}">

      <td>{{salesPerson.firstName}}</td>
      <td>{{salesPerson.lastName}}</td>
      <td>{{salesPerson.email}}</td>
      <td>{{salesPerson.salesVolume | currency: 'EUR'}}</td>

      @if (salesPerson.salesVolume >= 9000){
        <td>Yes</td>
      } @else {
        <td>No</td>
      }

    </tr>
    }
  </tbody>
</table>
